<main class="container">
  <div class="row my-5">
    <div class="col">
      <h1 class="text-center">Welcome to <span class="text-secondary">{{ title }}</span></h1>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <div class="card">
        <div class="card-header">
          <h3>All Facts</h3>
        </div>
        <div class="card-body">
          @if (facts.length) {
            <ul class="list-group">
              @for (fact of facts; track fact) {
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  {{fact.fact}}
                  @if(isFavorite(fact)) {
                    <span class="d-block ms-2 clickable" (click)="removeFavorite(fact)"><i class="bi bi-heart-fill text-danger"></i></span>
                  } @else {
                    <span class="d-block ms-2 clickable" (click)="addFavorite(fact)"><i class="bi bi-heart text-danger"></i></span>
                  }
                  
                </li>
              }
            </ul>
            <div class="mt-5">
              <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-end">
                  <li class="page-item clickable">
                    <a class="page-link bg-secondary text-info" (click)="previousPage()">Previous</a>
                  </li>
                  <li class="page-item">
                    <span class="page-link text-muted">{{page}}</span>
                  </li>
                  <li class="page-item clickable">
                    <span class="page-link bg-secondary text-info" (click)="nextPage()">Next</span>
                  </li>
                </ul>
              </nav>
            </div>
          } 
          @else {
            <p class="alert alert-info">No facts found!</p>
          }
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="card">
        <div class="card-header">
          <h3>Favorites</h3>
        </div>
        <div class="card-body">
          @if (favorites.length) {
            <ul class="list-group list-group-flush">
              @for (fact of favorites; track fact; let index = $index) {
                <li class="list-group-item clickable" 
                [ngClass]="{
                  'list-group-item-info': index % 2 == 0, 
                  'list-group-item-primary': index % 2 == 1
                }"
                (click)="removeFavorite(fact)"
                >
                  {{fact.fact}}
                </li>
              }
            </ul>
          } 
          @else {
            <p class="alert alert-info">No favorites found!</p>
          }
        </div>
      </div>
    </div>
  </div>
</main>